<!DOCTYPE html>
<html>
<head>
    <title>PSN Combined Info</title>
</head>
<body>
    <h1>System Information</h1>
    <table border="1">
        <tr>
            <th>Source IP</th>
            <th>Server Name</th>
            <th>Tracker Count</th>
            <th>Packet Timestamp</th>
            <th>Frame ID</th>
            <th>Frame Packet Count</th>
            <th>Version High</th>
            <th>Version Low</th>
            <th>Timestamp</th>
        </tr>
        {% for ip, system in sorted_systems_info.items() %}
        <tr>
            <td>{{ system.src_ip }}</td>
            <td>{{ system.server_name }}</td>
            <td>{{ system.tracker_count }}</td>
            <td>{{ system.packet_timestamp }}</td>
            <td>{{ system.frame_id }}</td>
            <td>{{ system.frame_packet_count }}</td>
            <td>{{ system.version_high }}</td>
            <td>{{ system.version_low }}</td>
            <td>{{ system.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Stale Systems</h1>
    <table border="1">
        <tr>
            <th>Source IP</th>
            <th>Server Name</th>
            <th>Tracker Count</th>
            <th>Packet Timestamp</th>
            <th>Frame ID</th>
            <th>Frame Packet Count</th>
            <th>Version High</th>
            <th>Version Low</th>
            <th>Timestamp</th>
        </tr>
        {% for ip, system in sorted_stale_systems_info.items() %}
        <tr>
            <td>{{ system.src_ip }}</td>
            <td>{{ system.server_name }}</td>
            <td>{{ system.tracker_count }}</td>
            <td>{{ system.packet_timestamp }}</td>
            <td>{{ system.frame_id }}</td>
            <td>{{ system.frame_packet_count }}</td>
            <td>{{ system.version_high }}</td>
            <td>{{ system.version_low }}</td>
            <td>{{ system.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Available Trackers</h1>
    <table border="1">
        <tr>
            <th>Source IP</th>
            <th>Server Name</th>
            <th>Tracker ID</th>
            <th>Tracker Name</th>
            <th>Pos X</th>
            <th>Pos Y</th>
            <th>Pos Z</th>
            <th>Speed X</th>
            <th>Speed Y</th>
            <th>Speed Z</th>
            <th>Ori X</th>
            <th>Ori Y</th>
            <th>Ori Z</th>
            <th>Accel X</th>
            <th>Accel Y</th>
            <th>Accel Z</th>
            <th>Target Pos X</th>
            <th>Target Pos Y</th>
            <th>Target Pos Z</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
        {% for tracker in sorted_trackers_list %}
        <tr>
            <td>{{ tracker.src_ip }}</td>
            <td>{{ tracker.system_name }}</td>
            <td>{{ tracker.tracker_id }}</td>
            <td>{{ tracker.tracker_name }}</td>
            <td>{{ tracker.pos_x }}</td>
            <td>{{ tracker.pos_y }}</td>
            <td>{{ tracker.pos_z }}</td>
            <td>{{ tracker.speed_x }}</td>
            <td>{{ tracker.speed_y }}</td>
            <td>{{ tracker.speed_z }}</td>
            <td>{{ tracker.ori_x }}</td>
            <td>{{ tracker.ori_y }}</td>
            <td>{{ tracker.ori_z }}</td>
            <td>{{ tracker.accel_x }}</td>
            <td>{{ tracker.accel_y }}</td>
            <td>{{ tracker.accel_z }}</td>
            <td>{{ tracker.trgtpos_x }}</td>
            <td>{{ tracker.trgtpos_y }}</td>
            <td>{{ tracker.trgtpos_z }}</td>
            <td>{{ tracker.status }}</td>
            <td>{{ tracker.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Stale Trackers</h1>
    <table border="1">
        <tr>
            <th>Source IP</th>
            <th>Server Name</th>
            <th>Tracker ID</th>
            <th>Tracker Name</th>
            <th>Pos X</th>
            <th>Pos Y</th>
            <th>Pos Z</th>
            <th>Speed X</th>
            <th>Speed Y</th>
            <th>Speed Z</th>
            <th>Ori X</th>
            <th>Ori Y</th>
            <th>Ori Z</th>
            <th>Accel X</th>
            <th>Accel Y</th>
            <th>Accel Z</th>
            <th>Target Pos X</th>
            <th>Target Pos Y</th>
            <th>Target Pos Z</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
        {% for tracker in sorted_stale_trackers_list %}
        <tr>
            <td>{{ tracker.src_ip }}</td>
            <td>{{ tracker.system_name }}</td>
            <td>{{ tracker.tracker_id }}</td>
            <td>{{ tracker.tracker_name }}</td>
            <td>{{ tracker.pos_x }}</td>
            <td>{{ tracker.pos_y }}</td>
            <td>{{ tracker.pos_z }}</td>
            <td>{{ tracker.speed_x }}</td>
            <td>{{ tracker.speed_y }}</td>
            <td>{{ tracker.speed_z }}</td>
            <td>{{ tracker.ori_x }}</td>
            <td>{{ tracker.ori_y }}</td>
            <td>{{ tracker.ori_z }}</td>
            <td>{{ tracker.accel_x }}</td>
            <td>{{ tracker.accel_y }}</td>
            <td>{{ tracker.accel_z }}</td>
            <td>{{ tracker.trgtpos_x }}</td>
            <td>{{ tracker.trgtpos_y }}</td>
            <td>{{ tracker.trgtpos_z }}</td>
            <td>{{ tracker.status }}</td>
            <td>{{ tracker.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
